html {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    background-color: bisque;
}

header {
    background-color: brown ;
    color:white;
    padding: 3rem 2rem;
}

header h1 {
    font-size: 4rem;
    text-align: center;
}

.container {
    width: 400px;
    margin: 0 auto;
}

section article {
    transition: shadow-box 0.3s ease;
    background-color:#fff;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    cursor:pointer;
}

section article h2, section article p {
    margin: 1rem;
}

section article:hover {
    box-shadow:0 0.2rem 0.4rem rgba(0, 12, 7, 0.705);
}

footer {
    background-color:brown;
    padding: 3rem;
    color:#fff
}

footer section {
    float: right;
}

footer p {
    margin: 0;
}

footer a {
    color:#fff;
    text-decoration: none;
}

footer a:hover {
      color:blue;
}

#fondo {
    background-color: rgb(207, 156, 255); 
    /** opacity: 0.3; **/
    background-image:url(krtd3e4ww2wq.jpg);
    background-size: 400px 400px;
    weight: 400px;
    height: 400px;
    background-repeat: no-repeat;
}

button {
    font-size:25px; 
    padding: 25px 35px;
    background-color: blueviolet;
    color: white;
    box-shadow:0 0.2rem 0.4rem inset;
    margin-top:5px;
    cursor:pointer;
    text-align: center;
}


.efecto :hover{
    box-shadow: 0 0.2rem 0.4rem black;
}
